:host {
  display: block;
  width: 100%;
}

mat-dialog-content {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

// Use only attribute selector to avoid stylelint error
[matInput] {
  width: 100%;
  box-sizing: border-box;
}
