<h2 mat-dialog-title>
  {{ 'labels.heading.Adjust Installment Date' | translate }}
</h2>

<mat-dialog-content>
  <form [formGroup]="adjustDateForm" fxLayout="column" fxLayoutGap="16px">
    <div class="date-field-wrapper">
      <label class="date-field-label">{{ 'Select Installment' | translate }} *</label>
      <mat-form-field fxFlex="100%" appearance="outline">
        <mat-select formControlName="installmentNumber" required>
          <mat-option [value]="null">{{ 'Select Installment' | translate }}</mat-option>
          <mat-option
            *ngFor="let installment of adjustableInstallments"
            [value]="installment.period"
            [disabled]="isInstallmentSelectionDisabled(installment)"
          >
            #{{ installment.period }} - {{ installment.dueDate | dateFormat }}
            <span *ngIf="isInstallmentSelectionDisabled(installment)" class="overdue-label">
              ({{ 'labels.text.overdue charges exist short' | translate }})
            </span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="adjustDateForm.get('installmentNumber')?.hasError('required')">
          Please select an installment
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="selectedInstallment" class="m-b-10">
      <p class="installment-info">
        <strong>{{ 'labels.text.Current Due Date' | translate }}:</strong> {{ selectedInstallment.dueDate | dateFormat
        }}<br />
        <strong>{{ 'labels.text.EMI Amount' | translate }}:</strong>
        {{ selectedInstallment.totalDueForPeriod | currency: data.currencyCode : 'symbol-narrow' : '1.2-2' }}
      </p>
    </div>

    <div *ngIf="selectedInstallmentHasOverdueCharges" class="warning-box m-b-10">
      <mat-icon class="warning-icon">warning</mat-icon>
      <p class="warning-text">
        {{ 'labels.text.overdue charges adjust restriction' | translate }}
      </p>
    </div>

    <div class="date-field-wrapper">
      <label class="date-field-label">{{ 'New Due Date' | translate }} *</label>
      <mat-form-field fxFlex="100%" appearance="outline">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="newDueDatePicker"
          formControlName="newDueDate"
          [disabled]="!adjustDateForm.get('installmentNumber')?.value"
          required
          placeholder=""
        />
        <mat-datepicker-toggle matSuffix [for]="newDueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #newDueDatePicker></mat-datepicker>
        <mat-error *ngIf="adjustDateForm.get('newDueDate')?.hasError('required')">
          Please select a new due date
        </mat-error>
      </mat-form-field>
    </div>

    <div class="date-field-wrapper">
      <mat-checkbox formControlName="adjustWithInterestRecalculation" color="primary">
        {{ 'labels.text.Adjust with recalculation of interest' | translate }}
      </mat-checkbox>
      <p class="recalc-hint">
        <small>
          {{
            'labels.text.When enabled the schedule is regenerated and interest is recalculated from the selected installment onwards, following the same approach as Loan Reschedule > Change Repayment Date.'
              | translate
          }}
        </small>
      </p>
    </div>

    <div class="info-box m-t-10">
      <mat-icon class="info-icon">info</mat-icon>
      <p class="info-text">
        {{ 'labels.text.adjust installment date note' | translate }}
        <br />
        <small>
          •
          {{
            'labels.text.When you adjust an installment date, all subsequent installments will be automatically shifted by the same number of days'
              | translate
          }}<br />
          <ng-container *ngIf="!adjustDateForm.get('adjustWithInterestRecalculation')?.value">
            • {{ 'labels.text.emi amount unchanged' | translate }}
          </ng-container>
          <ng-container *ngIf="adjustDateForm.get('adjustWithInterestRecalculation')?.value">
            •
            {{ 'labels.text.EMI and interest will be recalculated from the selected installment onwards' | translate }}
          </ng-container>
        </small>
      </p>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button mat-dialog-close class="m-r-10">
    {{ 'labels.buttons.Cancel' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!adjustDateForm.valid || selectedInstallmentHasOverdueCharges"
    (click)="submit()"
  >
    {{ 'labels.buttons.Adjust Date' | translate }}
  </button>
</mat-dialog-actions>
