<h2 mat-dialog-title>Transfer from Savings Account</h2>

<mat-dialog-content class="transfer-dialog">
  <div class="linked-savings" *ngIf="linkedSavingsAccountAccountNo">
    <div>
      <div>
        {{ 'labels.inputs.Linked Savings Account (Auto Debit Source)' | translate }} :
        <span class="linked-savings__account-no">
          {{ linkedSavingsAccountAccountNo }} - {{ linkedSavingsAccountProductName }}
        </span>
      </div>
      <div>
        {{ 'labels.inputs.Available Balance' | translate }} :
        <span class="linked-savings__account-no">
          {{ currencySymbol }} {{ linkedSavingsAccountAvailableBalance | formatNumber }}
        </span>
      </div>
    </div>
  </div>

  <form [formGroup]="transferForm" (ngSubmit)="submit()">
    <div fxLayout="column">
      <mat-form-field (click)="transactionDatePicker.open()">
        <mat-label>{{ 'labels.inputs.Transaction Date' | translate }}</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="transactionDatePicker"
          required
          formControlName="transactionDate"
        />
        <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #transactionDatePicker></mat-datepicker>
        <mat-error *ngIf="transferForm.controls.transactionDate.hasError('required')">
          {{ 'labels.inputs.Transaction Date' | translate }} {{ 'labels.commons.is' | translate }}
          <strong>{{ 'labels.commons.required' | translate }}</strong>
        </mat-error>
      </mat-form-field>

      <div class="date-impact-banner date-impact-banner--blocked" *ngIf="backdateBlockedMessage">
        <mat-icon>block</mat-icon>
        <span>{{ backdateBlockedMessage }}</span>
      </div>

      <div class="date-impact-banner backdate-limit-note" *ngIf="!backdateBlockedMessage && backdateLimitMessage">
        <mat-icon>event_busy</mat-icon>
        <span>{{ backdateLimitMessage }}</span>
      </div>

      <div class="date-impact-banner" *ngIf="!backdateBlockedMessage && dateImpactMessages.length">
        <mat-icon>info</mat-icon>
        <ul>
          <li *ngFor="let message of dateImpactMessages">{{ message }}</li>
        </ul>
      </div>

      <mat-form-field>
        <mat-label>{{ 'labels.inputs.Principal' | translate }}</mat-label>
        <input matInput [value]="principalOutstanding | formatNumber" disabled />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'labels.inputs.Interest' | translate }}</mat-label>
        <input matInput [value]="interestOutstanding | formatNumber" disabled />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'labels.inputs.Fee Amount' | translate }}</mat-label>
        <input matInput [value]="feeOutstanding | formatNumber" disabled />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'labels.inputs.Penalty Amount' | translate }}</mat-label>
        <input matInput [value]="penaltyOutstanding | formatNumber" disabled />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'labels.inputs.Transaction Amount' | translate }}</mat-label>
        <input matInput type="number" required formControlName="transactionAmount" />
        <mat-error *ngIf="amountErrorMessage">{{ amountErrorMessage }}</mat-error>
      </mat-form-field>

      <div class="date-impact-banner lpi-payment-note" *ngIf="lpiPaymentMessage">
        <mat-icon>payments</mat-icon>
        <span>{{ lpiPaymentMessage }}</span>
      </div>

      <div class="date-impact-banner closure-refund-notice" *ngIf="closureRefundNotice">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>{{ closureRefundNotice }}</span>
      </div>

      <div class="date-impact-banner overpayment-warning" *ngIf="overpaymentWarning">
        <mat-icon>warning</mat-icon>
        <span>{{ overpaymentWarning }}</span>
      </div>

      <div class="emi-hints" *ngIf="dueEmis.length">
        <span class="emi-pill" *ngFor="let emi of dueEmis" [ngClass]="emi.state">
          EMI #{{ emi.period }} · {{ emi.dueDate | dateFormat }} · {{ currencySymbol }} {{ emi.amount | formatNumber }}
        </span>
      </div>

      <mat-form-field>
        <mat-label>{{ 'labels.inputs.Note' | translate }}</mat-label>
        <textarea matInput required formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
        <mat-error *ngIf="transferForm.controls.note.hasError('required')">
          {{ 'labels.inputs.Note' | translate }} {{ 'labels.commons.is' | translate }}
          <strong>{{ 'labels.commons.required' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
  <button type="button" mat-raised-button mat-dialog-close>
    {{ 'labels.buttons.Cancel' | translate }}
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    [disabled]="
      transferForm.invalid ||
      isLoading ||
      isTemplateLoading ||
      !transferTemplate ||
      !linkedSavingsAccountId ||
      backdateBlockedMessage
    "
    *mifosxHasPermission="'CREATE_ACCOUNTTRANSFER'"
    (click)="submit()"
  >
    {{ 'labels.buttons.Submit' | translate }}
  </button>
</mat-dialog-actions>
