<button
  *ngIf="!iconOnly"
  mat-raised-button
  color="primary"
  [matMenuTriggerFor]="downloadsMenu"
  [disabled]="disabled || !!activeDownloadType"
>
  <fa-icon icon="download" class="m-r-10"></fa-icon>
  Downloads
</button>

<button
  *ngIf="iconOnly"
  class="account-action-button"
  mat-raised-button
  color="primary"
  matTooltip="Downloads"
  matTooltipPosition="above"
  [matMenuTriggerFor]="downloadsMenu"
  [disabled]="disabled || !!activeDownloadType"
  (click)="$event.stopPropagation()"
>
  <fa-icon icon="download"></fa-icon>
</button>

<mat-menu #downloadsMenu="matMenu" xPosition="before" yPosition="below">
  <button
    mat-menu-item
    *ngFor="let item of downloadItems"
    [disabled]="disabled || (!!activeDownloadType && activeDownloadType !== item.type)"
    (click)="selectDownload(item.type, $event)"
  >
    <mat-spinner *ngIf="activeDownloadType === item.type" diameter="18" class="download-spinner"></mat-spinner>
    <fa-icon *ngIf="activeDownloadType !== item.type" [icon]="item.icon" class="download-menu-icon"></fa-icon>
    <span>{{ item.label }}</span>
  </button>
</mat-menu>
