<div fxLayout="row" class="downloads-toolbar m-t-20" fxLayoutAlign="end center" *ngIf="!forEditing">
  <mifosx-loan-downloads-menu
    [activeDownloadType]="activeDownloadType"
    (downloadSelected)="downloadLoanDocument($event)"
  ></mifosx-loan-downloads-menu>
</div>

<div *ngIf="!forEditing">
  <mifosx-foreclosure-unearned-interest-banner
    [details]="foreclosureUnearnedInterestDetails"
    [currencyCode]="currencyCode"
  ></mifosx-foreclosure-unearned-interest-banner>
  <div class="reversed-lpi-banner" *ngIf="hasReversedPaidLpiForLoan()">
    <fa-icon icon="undo" class="m-r-5"></fa-icon>
    Reversed paid LPI
    <strong>{{ getReversedPaidLpiAdjustmentTotal() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }}</strong>
    is shown separately in red and excluded from displayed due/paid totals.
  </div>
  <p class="foreclosure-schedule-legend" *ngIf="foreclosureScheduleOverlayActive">
    Original scheduled EMIs are preserved below. Paid installments show as
    <span class="foreclosure-legend-paid">PAID</span>
    with the date and amounts settled at foreclosure. Removed future installments are
    <span class="foreclosure-legend-muted">greyed out</span>. Where the closure payment differed from the original EMI,
    the settled amount is shown with the scheduled figure in lighter text underneath.
  </p>
</div>

<div class="container">
  <table mat-table [dataSource]="scheduleTablePeriods" *ngIf="!forEditing" id="repaymentSchedule">
    <ng-container matColumnDef="number">
      <th mat-header-cell class="center" *matHeaderCellDef>#</th>
      <td mat-cell class="right" *matCellDef="let item">{{ item.period }}</td>
      <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
    </ng-container>

    <ng-container matColumnDef="days">
      <th mat-header-cell class="center" *matHeaderCellDef>{{ 'labels.inputs.Days' | translate }}</th>
      <td mat-cell class="center" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="!isForeclosureRemovedRow(item)">{{ item.daysInPeriod }}</ng-container>
      </td>
      <td mat-footer-cell class="center" *matFooterCellDef>
        <b *ngIf="getDisplayedTotalOutstanding() !== null"> Total</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell class="center" *matHeaderCellDef>{{ 'labels.inputs.Due Date' | translate }}</th>
      <td mat-cell class="m-r-5" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container
          *ngIf="isForeclosureClosureActual(item) && showForeclosureDueDateOverlay(item); else scheduledDueDate"
        >
          {{ item.foreclosureDisplay.actualDueDate | dateFormat }}
          <span class="foreclosure-scheduled-muted">scheduled {{ item.dueDate | dateFormat }}</span>
        </ng-container>
        <ng-template #scheduledDueDate>{{ item.dueDate | dateFormat }}</ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="paiddate">
      <th mat-header-cell class="center" *matHeaderCellDef>{{ 'labels.inputs.Paid Date' | translate }}</th>
      <td mat-cell class="center" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container
          *ngIf="!(item.interestOriginalDue === 0 && item.principalDue === 0 && !foreclosureScheduleOverlayActive)"
        >
          <ng-container *ngIf="!isForeclosureRemovedRow(item)">
            {{ item.obligationsMetOnDate | dateFormat }}
          </ng-container>
        </ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell class="center" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <span *ngIf="item.obligationsMetOnDate && !(item.interestOriginalDue === 0 && item.principalDue === 0)">
          <i class="fa fa-check"></i>
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell class="center" *matHeaderCellDef>{{ 'labels.inputs.Status' | translate }}</th>
      <td mat-cell class="center status" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="item.interestOriginalDue === 0 && item.principalDue === 0; else normalStatus">
          GRACE_PERIOD_APPLIED
        </ng-container>
        <ng-template #normalStatus>
          {{ getDisplayStatus(item) }}
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="balanceOfLoan">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>
        {{
          isLineOfCreditReceivable()
            ? ('labels.inputs.PreDisbursal Amount' | translate)
            : ('labels.inputs.Principal O/S' | translate)
        }}
      </th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="!isForeclosureRemovedRow(item)">
          {{ item.principalLoanBalanceOutstanding | formatNumber }}
        </ng-container>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <ng-container *ngIf="getDisplayedTotalOutstanding() !== null; else emptyOutstandingFooter">
          <b>{{
            isLineOfCreditReceivable
              ? null
              : (getDisplayedTotalOutstanding() | currency: currencyCode : 'symbol-narrow' : '1.2-2')
          }}</b>
        </ng-container>
        <ng-template #emptyOutstandingFooter>&nbsp;</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="principalDue">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Principal Due' | translate }}</th>
      <td mat-cell class="check r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container
          *ngIf="isForeclosureClosureActual(item) && showForeclosurePrincipalOverlay(item); else scheduledPrincipal"
        >
          {{ item.foreclosureDisplay.actualPrincipalDue | formatNumber }}
          <span class="foreclosure-scheduled-muted">scheduled {{ item.principalDue | formatNumber }}</span>
        </ng-container>
        <ng-template #scheduledPrincipal>{{ item.principalDue | formatNumber }}</ng-template>
      </td>
      <td mat-footer-cell class="check r-amount" *matFooterCellDef>
        <b>
          {{
            (foreclosureScheduleOverlayActive
              ? getDisplayTotalOriginalPrincipal()
              : repaymentScheduleDetails.totalPrincipalExpected
            ) | currency: currencyCode : 'symbol-narrow' : '1.2-2'
          }}</b
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="interest">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>
        {{
          isLineOfCreditReceivable()
            ? ('labels.inputs.Expected Interest' | translate)
            : ('labels.inputs.Interest' | translate)
        }}
      </th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container
          *ngIf="isForeclosureClosureActual(item) && showForeclosureInterestOverlay(item); else scheduledInterest"
        >
          {{ item.foreclosureDisplay.actualInterestDue | formatNumber }}
          <span class="foreclosure-scheduled-muted"
            >scheduled {{ getDisplayInterestForPeriod(item) | formatNumber }}</span
          >
        </ng-container>
        <ng-template #scheduledInterest>{{ getDisplayInterestForPeriod(item) | formatNumber }}</ng-template>
        <div class="foreclosure-waived-amount" *ngIf="isForeclosureRemovedRow(item)">
          waived {{ item.foreclosureDisplay.waivedInterest | formatNumber }}
        </div>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          {{
            (foreclosureScheduleOverlayActive ? getDisplayTotalOriginalInterest() : getDisplayTotalInterest())
              | currency: currencyCode : 'symbol-narrow' : '1.2-2'
          }}
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="disbursedAmount">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Disbursed Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        {{ getDisbursedAmount(item) | formatNumber }}
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>&nbsp;</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="refundAmount">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Refund Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="getRefundAmount(item) > 0; else emptyRefund">
          {{ getRefundAmount(item) | formatNumber }}
        </ng-container>
        <ng-template #emptyRefund>&nbsp;</ng-template>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          <ng-container refundFooterEmpty> </ng-container>
          <ng-template #refundFooterEmpty>&nbsp;</ng-template>
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="emiAmount">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ getEmiLabel() | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="isLineOfCreditReceivable() || isLoanFactorRateEnabled(); else normalEmi">
          {{
            item.principalDue +
              getDisplayInterestForPeriod(item) +
              getDisplayFeeForPeriod(item) +
              getDisplayTaxForPeriod(item) | formatNumber
          }}
        </ng-container>
        <ng-template #normalEmi>
          <ng-container *ngIf="isForeclosureClosureActual(item) && showForeclosureEmiOverlay(item); else scheduledEmi">
            {{ getActualEmiAmount(item) | formatNumber }}
            <span class="foreclosure-scheduled-muted">scheduled {{ getOriginalEmiAmount(item) | formatNumber }}</span>
          </ng-container>
          <ng-template #scheduledEmi>{{ getOriginalEmiAmount(item) | formatNumber }}</ng-template>
        </ng-template>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          <ng-container *ngIf="isLineOfCreditReceivable(); else normalEmiTotal">
            {{
              repaymentScheduleDetails.totalPrincipalExpected +
                repaymentScheduleDetails.totalInterestCharged +
                getDisplayTotalFees() +
                getDisplayTotalTaxes() | currency: currencyCode : 'symbol-narrow' : '1.2-2'
            }}
          </ng-container>
          <ng-template #normalEmiTotal>
            {{
              (foreclosureScheduleOverlayActive
                ? getDisplayTotalOriginalEmi()
                : repaymentScheduleDetails.totalPrincipalExpected + repaymentScheduleDetails.totalInterestCharged
              ) | currency: currencyCode : 'symbol-narrow' : '1.2-2'
            }}
          </ng-template>
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="fees">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Fees' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="item.feeChargesReversed && item.feeChargesReversed > 0; else normalFees">
          <span class="reversed-amount">
            <fa-icon icon="undo" class="m-r-5" [matTooltip]="'tooltips.Reversed Paid Charge' | translate"></fa-icon>
            {{ item.feeChargesReversed | formatNumber }}
          </span>
        </ng-container>
        <ng-template #normalFees>
          {{ getDisplayFeeForPeriod(item) | formatNumber }}
        </ng-template>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          {{ getDisplayTotalFees() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }}
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="taxes">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Taxes' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        {{ getDisplayTaxForPeriod(item) | formatNumber }}
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          {{ getDisplayTotalTaxes() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }}
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="penalties">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Overdue Interest' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="getDisplayOverdueInterestForPeriod(item) > 0">
          <div [class.waived-lpi-amount]="isWaivedOverdueInterestOnly(item)">
            {{ getDisplayOverdueInterestForPeriod(item) | formatNumber }}
            <ng-container *ngIf="isWaivedOverdueInterestOnly(item) && !isWaived"> waived</ng-container>
          </div>
        </ng-container>
        <div class="reversed-lpi-detail" *ngIf="hasReversedPaidLpi(item)">
          <fa-icon icon="undo" class="m-r-5" [matTooltip]="'tooltips.Reversed Paid Charge' | translate"></fa-icon>
          Reversed LPI -{{ getReversedPaidLpiIndicatorForPeriod(item) | formatNumber }}
        </div>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          {{ getDisplayTotalPenaltyChargesCharged() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }}
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="due">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Due Payment' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="!isForeclosureRemovedRow(item)">
          <div>{{ getDisplayTotalDueForPeriod(item) | formatNumber }}</div>
        </ng-container>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b>
          {{ getDisplayTotalRepaymentExpected() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }}
        </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="paid">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Amount Paid' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="!isForeclosureRemovedRow(item)">
          <ng-container
            *ngIf="isForeclosureClosureActual(item) && showForeclosureAmountPaidOverlay(item); else normalPaidAmount"
          >
            {{ item.foreclosureDisplay.actualAmountPaid | formatNumber }}
            <span class="foreclosure-scheduled-muted">scheduled {{ getOriginalEmiAmount(item) | formatNumber }}</span>
          </ng-container>
          <ng-template #normalPaidAmount>
            <div>{{ getDisplayTotalPaidForPeriod(item) | formatNumber }}</div>
          </ng-template>
        </ng-container>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b> {{ getDisplayTotalRepayment() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }} </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="inadvance">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Advance Paid' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="!isForeclosureRemovedRow(item)">
          <div>{{ getDisplayTotalPaidInAdvanceForPeriod(item) | formatNumber }}</div>
        </ng-container>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b> {{ getDisplayTotalPaidInAdvance() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }} </b>
      </td>
    </ng-container>

    <ng-container matColumnDef="late">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Late Paid' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
        <ng-container *ngIf="!isForeclosureRemovedRow(item)">
          <div>{{ getDisplayTotalPaidLateForPeriod(item) | formatNumber }}</div>
        </ng-container>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>
        <b> {{ getDisplayTotalPaidLate() | currency: currencyCode : 'symbol-narrow' : '1.2-2' }} </b>
      </td>
    </ng-container>

    <ng-container *ngIf="isWaived">
      <ng-container matColumnDef="waived">
        <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Waived Amount' | translate }}</th>
        <td mat-cell class="r-amount" *matCellDef="let item" [ngClass]="installmentStyle(item)">
          <ng-container *ngIf="item.period > 0">
            <div *ngIf="item.penaltyChargesWaived > 0" class="waived-lpi-amount">
              LPI: {{ item.penaltyChargesWaived | formatNumber }}
            </div>
            <div *ngIf="item.interestWaived > 0" class="waived-interest-amount">
              Interest: {{ item.interestWaived | formatNumber }}
            </div>
            <div *ngIf="item.feeChargesWaived > 0" class="waived-fee-amount">
              Fees: {{ item.feeChargesWaived | formatNumber }}
            </div>
            <div
              *ngIf="
                item.totalWaivedForPeriod > 0 &&
                !item.penaltyChargesWaived &&
                !item.interestWaived &&
                !item.feeChargesWaived
              "
            >
              {{ item.totalWaivedForPeriod | formatNumber }}
            </div>
          </ng-container>
        </td>
        <td mat-footer-cell class="r-amount" *matFooterCellDef>
          <b> {{ repaymentScheduleDetails.totalWaived | currency: currencyCode : 'symbol-narrow' : '1.2-2' }} </b>
        </td>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!isWaived">
      <ng-container matColumnDef="waived">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item"></td>
        <td mat-footer-cell *matFooterCellDef><b> </b></td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="outstanding">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Outstanding Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        <ng-container *ngIf="!isLoanOverpaid() && shouldShowOutstanding(item); else emptyOutstanding">
          {{ item.totalOutstandingForPeriod | formatNumber }}
        </ng-container>
        <ng-template #emptyOutstanding>&nbsp;</ng-template>
      </td>
      <td mat-footer-cell class="r-amount" *matFooterCellDef>&nbsp;</td>
    </ng-container>

    <ng-container matColumnDef="header">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"></th>
    </ng-container>

    <ng-container matColumnDef="header-amount">
      <th mat-header-cell class="center" *matHeaderCellDef [attr.colspan]="2">
        {{ 'labels.inputs.Loan Amount and Balance' | translate }}
      </th>
    </ng-container>

    <ng-container matColumnDef="header-total-cost">
      <th mat-header-cell class="center" *matHeaderCellDef [attr.colspan]="4">
        {{ 'labels.inputs.Total Cost of Loan' | translate }}
      </th>
    </ng-container>

    <ng-container matColumnDef="header-installment-totals">
      <th mat-header-cell class="center" *matHeaderCellDef [attr.colspan]="8">
        {{ 'labels.inputs.Installment Totals' | translate }}
      </th>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['header', 'header-amount', 'header-total-cost', 'header-installment-totals']"
    ></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <!-- Repayment Schedule to be Edited -->
  <table
    mat-table
    [dataSource]="repaymentScheduleDetails.periods"
    *ngIf="forEditing && repaymentScheduleDetails.periods.length > 0"
  >
    <ng-container matColumnDef="number">
      <th mat-header-cell class="center" *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let item">{{ item.period }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell class="center" *matHeaderCellDef>{{ 'labels.inputs.Due Date' | translate }}</th>
      <td mat-cell class="m-r-10" *matCellDef="let item">
        <ng-container>
          {{ item.dueDate | dateFormat }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="balanceOfLoan">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>
        {{
          isLineOfCreditReceivable()
            ? ('labels.inputs.PreDisbursal Amount' | translate)
            : ('labels.inputs.Principal O/S' | translate)
        }}
      </th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        {{ item.principalLoanBalanceOutstanding | formatNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="principalDue">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Principal Due' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        <ng-container>
          {{ item.principalDue | formatNumber }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="interest">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>
        {{
          isLineOfCreditReceivable()
            ? ('labels.inputs.Expected Interest' | translate)
            : ('labels.inputs.Interest' | translate)
        }}
      </th>
      <td mat-cell class="r-amount" *matCellDef="let item">{{ getDisplayInterestForPeriod(item) | formatNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="disbursedAmount">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Disbursed Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        {{ getDisbursedAmount(item) | formatNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="refundAmount">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Refund Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        {{ getRefundAmount(item) | formatNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="emiAmount">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.EMI Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        <ng-container *ngIf="isLineOfCreditReceivable(); else normalEmiEdit">
          {{
            item.principalDue + item.interestOriginalDue + getDisplayFeeForPeriod(item) + getDisplayTaxForPeriod(item)
              | formatNumber
          }}
        </ng-container>
        <ng-template #normalEmiEdit>
          {{ item.principalDue + item.interestOriginalDue | formatNumber }}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="fees">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Fees' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">{{ getDisplayFeeForPeriod(item) | formatNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="taxes">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Taxes' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">{{ getDisplayTaxForPeriod(item) | formatNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="due">
      <th mat-header-cell class="r-amount" *matHeaderCellDef>{{ 'labels.inputs.Installment Amount' | translate }}</th>
      <td mat-cell class="r-amount" *matCellDef="let item">
        <span *ngIf="!item.changed">
          {{ item.totalDueForPeriod | formatNumber }}
        </span>
        <span *ngIf="item.changed" class="amount-changed">
          <b>{{ item.totalDueForPeriod | formatNumber }}</b>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Actions' | translate }}</th>
      <td mat-cell class="center" *matCellDef="let item">
        <span *ngIf="item.period && item.period + 1 < repaymentScheduleDetails.periods.length">
          <ng-container>
            <button
              type="button"
              color="primary"
              mat-icon-button
              matTooltip="{{ 'tooltips.Edit' | translate }}"
              matTooltipPosition="above"
              (click)="editInstallment(item)"
            >
              <fa-icon icon="edit" size="lg"></fa-icon>
            </button>
            <button
              type="button"
              color="warn"
              mat-icon-button
              matTooltip="{{ 'tooltips.Delete' | translate }}"
              matTooltipPosition="above"
              (click)="startEdit(item.period)"
            >
              <fa-icon icon="trash" size="lg"></fa-icon>
            </button>
          </ng-container>
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsEdit"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsEdit"></tr>
  </table>
</div>
