.tab-container {
  padding: 1%;
  margin: 1%;

  h3 {
    margin: 1% auto;
  }

  .performance-history-container {
    border: 1px solid;
    padding: 1%;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
  }

  .reversed-lpi-detail {
    color: #c62828;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.3;
  }

  .before-reversal-amount {
    color: #757575;
    font-size: 11px;
    line-height: 1.3;
  }
}

span {
  margin: 0.5em 0;
}
